<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/user.css" rel="stylesheet" />

    <title>管理员-小书箱</title>
  </head>

  <body>

    <% include header.ejs %>

    <section id="main">
      <div class="info">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning">
            管理员编号：<%= user.id %></li>
          <li class="list-group-item list-group-item-success">
            联系方式：<%= user.contact %></li>
        </ul>
      </div>
      <ul class="nav-style nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
          <a href="#待处理订单">
            待处理订单
            <span class="badge order-badge"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#已发货订单">
            已发货订单
            <span class="badge deliver-badge"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#完成订单">
            完成订单
            <span class="badge finish-badge"></span>
          </a>
        </li>
      </ul>

      <div class="order">
        <% for (var i in orders) { %>
          <ul class="list-group" o_id="<%= orders[i].id %>">
            <li class="list-group-item list-group-item-info">
              订单号：<%= orders[i].id %></li>
            <li class="list-group-item">
              书名：<%= orders[i].book_name %>
              / 数量：<%= orders[i].b_quan %></li>
            <li class="list-group-item">买家名称：<%= orders[i].cus_id %></li>
            <li class="list-group-item">
              买家地址：<%= orders[i].addr %>
              / 买家联系方式：<%= orders[i].contact %></li>
            <li class="list-group-item">下单时间：<%= orders[i].o_time %></li>
            <a href=""
               class="list-group-item list-group-item-danger">点击确定发货</a>
          </ul>
        <% } %>
      </div>

      <div class="deliver">
        <% for (var i in delis) { %>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              发货代号：<%= delis[i].id %> / 订单号：<%= delis[i].o_id %></li>
            <li class="list-group-item">
              书名：<%= delis[i].book_name %> / 数量：<%= delis[i].b_quan %></li>
            <li class="list-group-item">买家名称：<%= delis[i].cus_id %> /
              地址：<%= delis[i].addr %> / 联系方式：<%= delis[i].contact %></li>
            <li class="list-group-item">下单时间：<%= delis[i].o_time %></li>
            <li class="list-group-item">发货人：<%= delis[i].admin_id %> /
              发货时间：<%= delis[i].d_time %></li>
          </ul>
        <% } %>
      </div>

      <div class="finish"></div>

    </section>

    <!-- jQuery -->
    <script src="javascripts/jquery-2.2.2.min.js"></script>
    <!-- bootstrap -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script src="javascripts/custom.js"></script>
  </body>

</html>

