<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/book.css" rel="stylesheet" />

    <title><%= name %>-小书箱</title>
  </head>

  <body>

    <% include header.ejs %>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img class="img img-thumbnail" alt="无封面"
                 src="images/<%= image %>">
          </div>

          <div class="col-md-7">
            <div class="info">
              <h1 class="name"><%= name %></h1>
              <p class="descript">
                <%= descript %>
              </p>
              <hr/>
              <div class="more-info">
                <p class="author">作者:
                  <%= author %>
                </p>
                <p class="sup">出版社:
                  <%= sup %>
                </p>
              </div>
              <div class="price">
                原价：
                <p>¥
                  <%= price %>
                </p>
              </div>
            </div>

            <div class="more-info">
              <p>销量：
                <%= sales_quan %>
              </p>
              <p>库存：
                <%= quantity %>
              </p>
            </div>

            <hr/>

            <form action="/book" method="post">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">件数：</span>
                <input type="number" class="form-control" name="buy_quan" id="buy_quan" value="1" min="1" required>
              </div>
              <br/>
              <input name="username" type="hidden" value="<%= username %>">
              <input name="book_id" type="hidden" value="<%= id %>">
              <button type="submit" class="btn btn-primary btn-lg btn-block">立即购买</button>
            </form>
            <div class="alert alert-error alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <strong>购买前请先登录!</strong>
            </div>
          </div>
        </div>
      </div>

      <!-- jQuery -->
      <script src="javascripts/jquery-2.2.2.min.js"></script>
      <!-- bootstrap -->
      <script src="javascripts/bootstrap.min.js"></script>
  </body>

</html>
